.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100vh; 
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.login100-form-title {
    display: block;
    padding-bottom: 54px;
}
.loginScreen {
    background-color: rgba(0, 0, 0, 0.5); 
    width: 400px; /* Set width equal to height */
    height: 300px;
}